<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BENEFICIARIOS</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand mx-auto">BENEFICIARIOS</a>
    </nav>

    <div class="container">
            <div class="row"> 
                    <div class="col-md-6 mt-4 text-center">
                        <table class="table table-striped">
                            <tr>
                                <th>id</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Telefono</th>
                            </tr>
                            <% for(var i = 0; i < users.length; i++) { %>
                                <tr>
                                    <td><%= users[i].id_user %></td>
                                    <td><%= users[i].nombre %></td>
                                    <td><%= users[i].apellido %></td>
                                    <td><%= users[i].telefona %></td>
                                </tr>      
                            <% } %>
            
                        </table>
                    </div>
                    <div class="col-md-6 mt-4 cart">
                        <form action="/beneficiarios" method="POST" class="card-body">
                            <h3 class="card-title">Agregar Beneficiario</h3>
                            <div class="form-group">
                                <input id="nombre" type="text" name="nombre" class="form-control " placeholder="Ingrese Nombre">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="apellido" class="form-control " placeholder="Ingrese Apellido">
                            </div>
                            <div class="form-group">
                                    <input type="text" name="telefono" class="form-control " placeholder="Ingrese Telefono">
                            </div>
                            <input type="submit" class="btn btn-primary ">
                        </form>
            
            
                    </div>
            
                </div>

    </div>
    
    <script>
        document.getElementById('nombre').focus();
    </script>

</body>
</html>